<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../public/images/123.ico">
    <title>Let's Go Tic-Tac-Toe</title>
</head>

<body>
  
  {{{body}}}
  
</body>

</html>
