<div class="main">
  <div class="title">Battle Arena</div>
    
  <div class="momma-koh-prof">
    <div class="koh-prof">
      <div class="prof-pic user1">PIC</div>
      <div class="prof-details">
          <div class="prof-top">
            <div class="prof-title">-King of the Hill-</div>
            <div class="prof-level user1">Lvl: 32</div>
          </div>
        <div class="prof-user user1">Jeffery B.</div>
        <div class="prof-streak user1">Current Streak: 3</div>
      </div>
    </div>
  </div>
    <div class=sunbelt>
      <div class="chal-poke">challenger pokemon</div>
      <div class="game-board">
        <div class="container-fluid">
          <div class="row" id="mainboard">
            <div class="col-12 col-sm-6 content">
              <div class="container-fluid tic-container">
                <div class="row tic-row">
                  <div class="col-4 tic-box" id="00"> </button></div>
                  <div class="col-4 tic-box" id="01"> </button></div>
                  <div class="col-4 tic-box" id="02"> </button></div>
                </div>
                <div class="row tic-row">
                  <div class="col-4 tic-box" id="10"> </button></div>
                  <div class="col-4 tic-box" id="11"> </button></div>
                  <div class="col-4 tic-box" id="12"> </button></div>
                </div>
                <div class="row tic-row">
                  <div class="col-4 tic-box" id="20"> </button></div>
                  <div class="col-4 tic-box" id="21"> </button></div>
                  <div class="col-4 tic-box" id="22"> </button></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="koh-poke">koh pokemon</div>
    </div>

  <div class="momma-chal-prof">
    <div class="chal-prof">
      <div class="prof-pic user2">PIC</div>
      <div class="prof-details">
          <div class="prof-top">
            <div class="prof-title">-Challenger-</div>
          <div class="prof-level user2">Lvl: 13</div>
          </div>
        <div class="prof-user user2">Janet G.</div>
        <div class="prof-streak user2">Longest Streak: 7</div>
      </div>
    </div>
  </div>


    
  </div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/game.js"></script>

