<!-- header -->
<div class="row" id="momma">
    <div id="game" class="col container-1">
        <div class="item">
        <h1><strong>Battle Arena</strong></h1>
        </div>
        <div class="item ">
          <h2> Fight!</h2>
        </div>
    </div>
</div>
<!-- header -->   
<br>
 <!-- main board -->
<div class="container-fluid">
    <div class="row" id="mainboard">
      <div class="col-12 col-sm-6 content">
        <div class="container-fluid tic-container">
          <div class="row tic-row">
            <div class="col-4 tic-box" id="00">C</button></div>
            <div class="col-4 tic-box" id="01">C</button></div>
            <div class="col-4 tic-box" id="02">C</button></div>
          </div>
          <div class="row tic-row">
            <div class="col-4 tic-box" id="10">C</button></div>
            <div class="col-4 tic-box" id="11">C</button></div>
            <div class="col-4 tic-box" id="12">C</button></div>
          </div>
          <div class="row tic-row">
            <div class="col-4 tic-box" id="20">C</button></div>
            <div class="col-4 tic-box" id="21">C</button></div>
            <div class="col-4 tic-box" id="22">C</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- main board -->
<br>
<div class="row" id="job-titles">
  <div class="col">Challenger:</div>
  <div class="col">King of the Hill:</div>
</div>
<!-- profiles -->
<div class="row" id="profiles">
  <div id="lefts-turn"></div>
    <div id="leftprofile" class="">Tom</div>
    <div id="rightprofile" class="">Jane</div>
  <div id="rights-turn" class=""></div>
</div>
<!-- profiles -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/game.js"></script>

