

<div class="container">
  <div class="row">
    <div id="arenaHeader" class="clearfix-2 offset-2">
     <!-- header -->
      <div class="clearfix mb-6">
          <br>
        <h1><strong>Battle Arena</strong></h1>
      </div>
      <div>
          <h2> Fight!</h2>
      </div>
      <!-- header end-->
    </div>
  </div>
</div>
