<div class="container">
  <div class="jumbotron mt-4">    
   <h2>Enter New Login Info:</h2>
   <br>
    <form class="clearfix mb-4" action="POST">
        <div class="form-group">
            <label for="new-username-input">Username:</label>
            <input type="text" id="new-username-input" class="form-control" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="new-password-input">Password:</label>
            <input type="text" id="new-password-input" class="form-control" placeholder="Password"></input>
          </div>

          <div class="form-group">
            <label for="image-url">Profile Picture:</label>
            <input type="text" id="user-pic" class="form-control" placeholder="Image URL"></input>
          </div>
          <button id="new-usr-submit" class="btn btn-primary float-right">Submit</button>
    </form>

    <a href="/">← Back To Home</a>

  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>